/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
}

.header__wrapper {
  height: 56px;
  position: relative;
}

.header__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #323232;
  z-index: 6;
}

.header__wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper .container .header__menu {
  z-index: 6;
}

.header__wrapper .container .header__menu .menu__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.header__wrapper .container .header__menu .menu__list .menu__item {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 20px;
}

.header__wrapper .container .header__menu .menu__list .menu__item .menu__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: none;
  margin: 0;
}

.header__wrapper .container .header__menu .menu__list .menu__item .menu__link:hover {
  display: block;
  transform: scale(1.1);
}

.header__wrapper .container .header__menu .menu__list .menu__item .menu__link_active {
  display: block;
  transform: scale(1.1);
}

.header__wrapper .container .header__menu .menu__list .menu__item:first-child {
  border: none;
  padding-left: 0;
}

.header .hamburger {
  display: none;
}

.header__content {
  background-color: #fff;
}

.header__content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__content-container {
  display: flex;
}

.header__content-container .header__logo {
  margin-right: 44px;
}

.header__content-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__content-link img {
  width: 37px;
  height: 37px;
  margin-right: 12px;
}

.header__content-link a {
  color: #323232;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.header__content-link:hover {
  opacity: 0.7;
}

.btn {
  width: 153px;
  height: 38px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_nav {
  z-index: 6;
  position: relative;
  background-color: #e8d8b6;
  color: #323232;
  font-size: 12px;
  transition: .4s;
}

.btn_nav:hover {
  background-color: #323232;
  color: #e8d8b6;
  border: 1px solid #e8d8b6;
}

.btn_header {
  background-color: #c99c47;
  color: #ffffff;
  font-size: 13px;
  transition: .4s;
}

.btn_header:hover {
  color: #c99c47;
  background-color: #fff;
  border: 1px solid #c99c47;
}

.btn__content {
  display: block;
  margin: 0 auto;
  background-color: #d4c198;
  margin-top: 23px;
  color: #ffffff;
  font-size: 13px;
  text-transform: none;
  transition: .4s;
}

.btn__content:hover {
  background-color: #c99c47;
}

.btn_content {
  background-color: #c99c47;
  color: #ffffff;
  font-size: 13px;
  height: 42px;
  transition: .4s;
}

.btn_content:hover {
  color: #c99c47;
  background-color: #fff;
  border: 1px solid #c99c47;
}

.btn_black {
  background-color: #323232;
  color: #ffffff;
  font-size: 13px;
  height: 42px;
  transition: .4s;
}

.btn_black:hover {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}

.title {
  text-transform: uppercase;
  color: #323232;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.title_fz24 {
  font-size: 24px;
}

.title_ft {
  color: #c99c47;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.banner {
  height: 440px;
  background: url("../img/bannerBG.jpg") center/cover no-repeat;
  position: relative;
}

.banner .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.banner .slide {
  padding: 18px;
  width: 425px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.9);
  outline: 1px solid #fff;
  outline-offset: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .slide__info-title {
  color: #c99c47;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.banner .slide__info-subtitle {
  color: #323232;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.97px;
  margin-top: 10px;
  text-align: justify;
}

.banner .slide__info-city {
  color: #757575;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.banner .slide__date {
  background-color: #fff;
  border: 1px solid #c99c47;
  height: 100%;
  width: 350px;
  color: #c99c47;
  font-size: 29px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .slide__date-month {
  font-size: 18px;
  margin-top: 8px;
}

.banner .slide__date-year {
  font-size: 35px;
  margin-top: 8px;
}

.content {
  min-height: 850px;
  padding: 66px 0 49px 0;
}

.content__text {
  color: #323232;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  text-align: justify;
}

.content__wrapper {
  height: 480px;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}

.content__block {
  width: 360px;
  height: 100%;
  text-align: center;
}

.content__img img {
  display: block;
  margin: 0 auto;
}

.content__title {
  font-size: 17px;
  font-weight: 500;
  margin-top: 23px;
}

.content__descr {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 20px;
  text-align: justify;
}

.content__txt {
  display: block;
  margin-top: 16px;
  color: #919191;
  font-size: 11px;
  font-weight: 400;
}

.content__btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.content__btns button {
  margin: 0 8px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.reviews {
  height: 417px;
  background-color: rgba(232, 216, 182, 0.3);
  padding: 54px 0 61px 0;
}

.reviews__slider {
  margin-top: 40px;
}

.reviews .slide {
  display: flex;
  justify-content: space-between;
  outline: none;
}

.reviews .slide .slide_first, .reviews .slide .slide_second {
  display: flex;
  height: 245px;
  width: 545px;
}

.reviews .slide__img {
  padding: 5px;
  background-color: #fff;
  width: 140px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.reviews .slide__descr {
  background: url("../img/reviews/reviewsSpace.png") center/cover no-repeat;
  width: 100%;
  padding: 25px 15px 0 35px;
  text-align: justify;
}

.reviews .slide__descr-title {
  color: #323232;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

.reviews .slide__descr-date {
  width: 119px;
  height: 29px;
  opacity: 0.5;
  background-color: black;
  color: #ffffff;
  font-size: 9px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

.reviews .slide__descr-info {
  color: #323232;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 11px;
}

.promo {
  padding: 60px 0;
}

.promo video {
  display: block;
  width: 680px;
  margin: 25px auto 0 auto;
}

.clients {
  min-height: 290px;
  background-color: rgba(232, 216, 182, 0.3);
  padding: 44px 0 70px 0;
}

.clients__slider {
  width: 100%;
  margin-top: 33px;
  display: flex;
  justify-content: center;
}

.clients__slider div.slick-list.draggable {
  padding: 0 0 0 0;
}

.clients__slide {
  outline: none;
  width: 171px;
  height: 123px;
  position: relative;
  border: 1px solid #f8f3e9;
  background-color: #ffffff;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__slide img {
  display: block;
  margin: 0 auto;
  width: 126px;
  height: 51px;
}

.slick-prev, .slick-next {
  position: absolute;
  left: -51px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
}

.slick-prev img, .slick-next img {
  width: 12px;
  height: 47px;
}

.slick-next {
  right: -51px;
  left: auto;
}

.slick-initialized .slick-slide {
  display: flex;
}

.footer {
  height: 365px;
  padding: 48px 0 0 0;
  background-color: #323232;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}

.footer__wrapper {
  display: flex;
  height: 210px;
}

.footer__wrapper a {
  line-height: 22px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  line-height: 30px;
  width: inherit;
}

.footer__menu {
  margin-right: 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__menu-list {
  margin: 15px 0 0 0;
  padding: 0 70px 0 0;
  list-style-type: none;
}

.footer__contact-description {
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin: 15px 0 30px 0;
}

.footer__bottom {
  width: 1140px;
  margin: 25px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom p {
  color: #f8f3e9;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

.footer__bottom .flx {
  display: flex;
  align-items: center;
}

.footer__bottom .flx span {
  opacity: 0.3;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  margin-right: 10px;
}

.footer a:hover {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 150px);
  }
  .content .content__wrapper .content__img img {
    width: 110px;
  }
  .content__block {
    width: 29%;
  }
  .content__title {
    font-size: 12px;
  }
  .content__btns {
    margin-top: 60px;
  }
  .reviews {
    height: 471px;
  }
  .reviews .slide .slide_first, .reviews .slide .slide_second {
    height: 290px;
    width: 395px;
  }
  .reviews .slide__img {
    height: 100px;
  }
  .reviews .slide .slide__descr {
    padding-left: 15px;
  }
  .clients .clients__slide {
    width: 153px;
  }
  .footer .footer__bottom {
    width: calc(100% - 150px);
  }
}

@media (max-width: 991px) {
  .container {
    width: calc(100% - 100px);
  }
  .header .header__content-link a {
    width: 75px;
  }
  .header__logo img {
    width: 130px;
  }
  .content__block {
    width: 30%;
  }
  .content .content__wrapper {
    height: 100%;
  }
  .reviews {
    height: 100%;
  }
  .reviews .slide .slide_first, .reviews .slide .slide_second {
    display: block;
    height: 100%;
    width: 315px;
  }
  .reviews .slide .slide_first .slide__descr, .reviews .slide .slide_second .slide__descr {
    padding: 15px;
  }
  .reviews .slide__img {
    height: 135px;
    margin: 5px auto 30px auto;
  }
  .footer .footer__bottom {
    width: calc(100% - 100px);
  }
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 60px);
  }
  .lock {
    overflow: hidden;
  }
  .header__wrapper::before {
    z-index: 7;
  }
  .header__wrapper .container {
    height: 56px;
  }
  .header__wrapper .container .hamburger {
    display: block;
    width: 30px;
    z-index: 7;
    transition: .4s all;
  }
  .header__wrapper .container .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    margin: 5px 0;
    background-color: #fff;
    transition: .5s all;
  }
  .header__wrapper .container .hamburger_active span {
    margin: 0px;
  }
  .header__wrapper .container .hamburger_active span:first-child {
    transform: rotate(-45deg);
  }
  .header__wrapper .container .hamburger_active span:nth-child(2) {
    display: none;
  }
  .header__wrapper .container .hamburger_active span:last-child {
    transform: rotate(45deg);
  }
  .header__wrapper .container .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: #323232;
    transition: .5s;
  }
  .header__wrapper .container .header__menu .menu__list {
    display: block;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
  }
  .header__wrapper .container .header__menu .menu__list .menu__item {
    padding: 0;
    border: none;
    margin: 40px 0;
  }
  .header__wrapper .container .header__menu .menu__list .menu__item .menu__link {
    font-size: 24px;
  }
  .header__wrapper .container .header__menu_active {
    top: 0;
  }
  .header__btn_indx {
    z-index: 7;
  }
  .header__content {
    z-index: 20;
    position: relative;
    padding: 5px;
  }
  .header__content .container {
    flex-wrap: wrap;
    height: 120px;
    justify-content: center;
  }
  .banner .container {
    justify-content: center;
  }
  .content__wrapper {
    flex-wrap: wrap;
    height: 100%;
  }
  .content__block {
    width: 100%;
    margin: 20px 0;
  }
  .content__btns {
    margin: 30px 0;
  }
  .reviews .slide {
    display: block;
  }
  .reviews .slide .slide_first, .reviews .slide .slide_second {
    margin: 0 auto 50px auto;
    width: 100%;
  }
  .reviews .slide .slide_first .slide__descr, .reviews .slide .slide_second .slide__descr {
    padding: 10px 10px 10px 35px;
    font-size: 13px;
  }
  .promo video {
    width: 100%;
  }
  .clients .clients__slide {
    width: 150px;
  }
  .footer__menu {
    margin-right: 40px;
  }
  .footer a, .footer .footer__contact-description, .footer p {
    font-size: 12px;
  }
  .slick-next {
    right: -30px;
  }
  .slick-prev {
    left: -30px;
  }
}

@media (max-width: 576px) {
  .container, .footer .footer__bottom {
    width: calc(100% - 50px);
  }
  .btn_nav {
    width: 120px;
    height: 30px;
  }
  .header__logo {
    display: block;
    width: 100%;
  }
  .header__logo img {
    margin: 0 auto;
  }
  .header__content {
    height: 220px;
  }
  .header__content-link {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .header .header__content-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 365px;
  }
  .header .header__content-container .header__logo {
    margin: 10px 0;
  }
  .header .header__content-container a {
    width: 180px;
  }
  .btn__content {
    width: 100%;
    height: 35px;
  }
  .title_fz24 {
    font-size: 22px;
  }
  .banner .slide {
    padding: 8px;
    width: 290px;
  }
  .banner .slide__info-subtitle {
    font-size: 12px;
  }
  .banner .slide__info-city {
    font-size: 11px;
  }
  .banner .slide__info-title {
    font-size: 13px;
  }
  .content__text {
    font-size: 15px;
  }
  .content__title {
    font-size: 15px;
    margin: 20px auto;
  }
  .content__descr {
    text-align: justify;
    font-size: 14px;
  }
  .reviews .slide .slide_first .slide__descr, .reviews .slide .slide_second .slide__descr {
    padding: 22px;
  }
  .clients .clients__slide {
    width: 265px;
  }
  .footer {
    height: 580px;
  }
  .footer__wrapper {
    height: 100%;
    flex-wrap: wrap;
    width: 195px;
  }
  .footer .title_ft {
    font-size: 12px;
  }
  .footer__menu {
    border-right: none;
  }
  .footer__follow {
    height: 30px;
  }
  .footer a {
    font-size: 11px;
  }
  .footer__contact {
    margin-top: 30px;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__bottom p {
    font-size: 11px;
    margin-bottom: 15px;
  }
  .menu__block .wrapper_between {
    justify-content: center;
  }
}
